<!DOCTYPE html>
<html>
  <head>
    <title>Pusher Django</title>
  </head>
  <body>
    <a href="https://github.com/pedroburon/pusherdjangochat"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

    <h1>Pusher Django</h1>
    <p>Django chat using pusher, open another tab (or window) and chat with yourself.</p>
    <form method="post" id="chat-form">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" />
    </form>

    <dl id="messages">
    </dl>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      // Flash fallback logging - don't include this in production
      WEB_SOCKET_DEBUG = true;

      var pusher = new Pusher('8ad6890ac7bbe9087a0a');
      var channel = null;
    </script>
    <script type="text/javascript">
      var append_message = function(data) {
        $('#messages').append('<dt id="message-dt-"' + data['id'] + '>' + data['name'] + ':</dt>')
                      .append('<dd id="message-dd-"' + data['id'] + '>' + data['message'] + '</dt>')
      }
      function subscribe_to_chatroom(name) {
        if (channel != null)
          pusher.unsubscribe(channel.name)
        channel = pusher.subscribe($('#id_chatroom').val())
        channel.bind('new-message', append_message)
      }
      jQuery(function($) {
        var name = '';
        while (name == '' || name == null) {
          name = window.prompt("Your name", null);
          if (name != null)
             name = name.trim()
        }
        $('#id_name').val(name)
        subscribe_to_chatroom()
        $('#id_chatroom').change(function(e) {
          subscribe_to_chatroom($(this).val())
          $('#messages').html('')
        })
        $('#chat-form').submit(function(e) {
          e.preventDefault();
          var $this = $(this)
            , action = $this.attr('action')
            , data = $this.serialize();
    
          $.post(action, data, function(response) {
            if (response == 'Ok') {
              $('#id_message').val('')
            }
          })
        })
      })
    </script>
  </body>
</html>
